.hovereffect {
    text-align: center;
    padding: 0;
    height: 200px;
}

.hovereffect .overlay {
    overflow: hidden;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
}

.hovereffect {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.overlay:hover {
    background: rgba(0, 95, 137, 0.7);
}

#profitably-card {
    /* 1 1 */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2Fwebp%2F1-1-compressor.webp?alt=media&token=afc05d53-d7de-466a-b7f6-64ff5b68a882");
}

#near-card {
    /* 1 2 */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2Fwebp%2F1-2-compressor.webp?alt=media&token=91c069b6-98b8-4fa4-b78f-b64f915d3616") ;
}

#nice-card {
    /* 1 3 */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2Fwebp%2F1-3-compressor.webp?alt=media&token=b405face-de46-4ca5-8831-d3d715da8ef8") ;
}

#prestigiously-card {
    /* 2 1 */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2Fwebp%2F2-1-compressor.webp?alt=media&token=ded128ee-52bd-4382-8759-b5f76c33dab7") ;
}

#fast-card {
    /* 2 3 */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2Fwebp%2F2-3-compressor.webp?alt=media&token=efc1ffec-ee2a-49d5-84a1-1272a6292a15") ;
}

#positively-card {
    /* 3 1 */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2Fwebp%2F3-1-compressor.webp?alt=media&token=5073af74-0310-4778-b2f1-2f15539174d1") ;
}

#loyally-card {
    /* 3 2 */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2Fwebp%2F3-2-compressor.webp?alt=media&token=8d5d2203-6984-462b-8044-4532342e82e5") ;
}

#convenient-card {
    /* 3 3 */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2Fwebp%2F3-3-compressor.webp?alt=media&token=54dd4e9d-a1e6-4683-9d02-7a32bbaa34ec") ;
}

#bbp-main {
    text-align: center;
    background: #FFD646;
    border-radius: 10px;
}

#bbp-img {
    height: 200px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main-info {
    order: 10;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #000;
    text-shadow: 0 0 10px #fff;
}

.hovereffect:hover #main-info {
    -webkit-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    transform: translateY(-160px);
}

.hovereffect:hover #bbp-img {
    opacity: 0;
}

.hovereffect .card-title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover .card-title {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.hovereffect .info {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    padding: 3px;
    margin: 10px;
}

.hovereffect:hover .info {
    opacity: 1;
    filter: alpha(opacity=100);

}

.hovereffect .info:hover {
    box-shadow: 0 0 5px #fff;
}

.left-align {
    text-align: left;
}

@media screen and (max-width: 715px) {
    #main-info, .info {
        font-size: 12px !important;
    }
}