.hovereffect {
    text-align: center;
    padding: 0;
    height: 200px;
}

.hovereffect .overlay {
    overflow: hidden;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
}

.hovereffect {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.overlay:hover {
    background: rgba(0, 95, 137, 0.7);
}

#profitably-card {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2F20200209_174039.jpg?alt=media&token=0029121d-82c4-4f9d-8075-ed0c761eb626") ;
}

#prestigiously-card {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2F20200209_175027.jpg?alt=media&token=32c34be5-e92c-40bd-b17e-070b7939c6b1") ;
}

#positively-card {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2F20200209_175155.jpg?alt=media&token=b6516699-e6cd-46b8-aae5-f11fab956504") ;
}

#near-card {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2F20200209_174835.jpg?alt=media&token=f70f4ab6-24f7-4bde-827e-1cc97d66e73a") ;
}

#loyally-card {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2F20200209_174920.jpg?alt=media&token=cbe107ee-0942-42a7-87f5-7fdeeffc8486") ;
}

#nice-card {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2F20200209_174717.jpg?alt=media&token=32af4462-1006-4c97-bf5e-1f9f34a4a7e6") ;
}

#fast-card {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2F20200209_175608.jpg?alt=media&token=e9c4ca91-7db8-44b6-90c3-f09a0360c16a") ;
}

#convenient-card {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bunbeautyweb.appspot.com/o/cards%2F20200209_174201.jpg?alt=media&token=ccec7a5e-8a40-4d6a-8074-6a8f3b2adce0") ;
}

#bbp-main {
    text-align: center;
    background: #FFD646;
    border-radius: 10px;
}

#bbp-img {
    height: 200px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main-info {
    order: 10;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #000;
    text-shadow: 0 0 10px #fff;
}

.hovereffect:hover #main-info {
    -webkit-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    transform: translateY(-160px);
}

.hovereffect:hover #bbp-img {
    opacity: 0;
}

.hovereffect .card-title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover .card-title {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.hovereffect .info {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    padding: 3px;
    margin: 10px;
}

.hovereffect:hover .info {
    opacity: 1;
    filter: alpha(opacity=100);

}

.hovereffect .info:hover {
    box-shadow: 0 0 5px #fff;
}

.left-align {
    text-align: left;
}

@media screen and (max-width: 715px) {
    #main-info, .info {
        font-size: 12px !important;
    }
}